<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Операции с персонажем</title>
</head>
<body>
<p>{{.Message}}</p>
<a href="/characters">Вернуться к списку персонажей</a>
</body>
</html>
