<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание Персонажа</title>
</head>
<body>
<form action="/characters" method="post">
    <input type="text" name="name" placeholder="Имя" required><br>
    <input type="text" name="occupation" placeholder="Профессия" required><br>
    <input type="text" name="age" placeholder="Возраст" required><br>
    <input type="submit" value="Создать">
</form>
</body>
</html>
