<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Детали персонажа</title>
</head>
<body>
<nav>
    <a href="/">Главная</a> |
    <a href="/characters/new">Создать нового персонажа</a> |
    <a href="/characters/list">Просмотреть список персонажей</a>
</nav>

<h1>Детали персонажа</h1>

<p><strong>Имя:</strong> {{.Name}}</p>
<p><strong>Профессия:</strong> {{.Occupation}}</p>
<p><strong>Возраст:</strong> {{.Age}}</p>

<!-- Форма для удаления персонажа -->
<form action="/characters/{{.ID}}/delete" method="post">
    <input type="hidden" name="id" value="{{.ID}}">
    <button type="submit">Удалить персонажа</button>
</form>

<a href="/characters/list">Вернуться к списку персонажей</a>
</body>
</html>
