<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Импорт сыщика</title>
</head>
<body>
<h1>Импорт сыщика</h1>
<form action="/characters/import" method="post" enctype="multipart/form-data">
    <input type="file" name="jsonFile">
    <input type="submit" value="Загрузить">
</form>
</body>
</html>
