<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список Персонажей</title>
</head>
<body>
<nav>
    <a href="/">Главная</a> |
    <a href="/characters/new">Создать нового персонажа</a>
    <a href="/characters/import">Импортировать сыщика</a> <!-- Ссылка на страницу импорта -->
</nav>

<h1>Персонажи</h1>
<ul>
    {{if len .}}
        {{range .}}
            <li>
                <a href="/characters/{{.ID}}">
                    Имя: {{.Name}}, Профессия: {{.Occupation}}, Возраст: {{.Age}}
                </a>
            </li>
        {{end}}
    {{else}}
    <li>Персонажей нет</li>
    {{end}}
</ul>
</body>
</html>
